@{
    var sideBarOptions = Model.SideBarOptions;
    
    string navigateTo = Model.NavigateTo;

    <table>
        @if (sideBarOptions != null)
        @foreach (var item in sideBarOptions)
        {
            {
            <tr>
                <td>

                            @switch (navigateTo)
                            {
                                case "/Categories":
                                    <a asp-page=@navigateTo asp-route-sidebarContentId="@item.Id">@item.Title</a>
                                    break;
                                case "/SubCategories":
                                    <a asp-page=@navigateTo asp-route-sidebarContentId="@item.Id" asp-route-mainContentId="@item.Id">@item.Title</a>
                                    break;
                                case "/DiscussionThreads":
                                    <a asp-page=@navigateTo asp-route-sidebarContentId="@item.Id" asp-route-mainContentId="@item.Id">@item.Title</a>
                                    break;
                                case "/Comments":
                                    <a asp-page=@navigateTo asp-route-sidebarContentId="@item.Id" asp-route-mainContentId="@item.Id">@item.Title</a>
                                    break;
                            }
                </td>
            </tr>
            }                        
        }
    </table>
}