@model MainContentListItemPartialViewModel
<div class="row main-content-list-title">
    <a asp-page="@Model.TitleNavigate" asp-route-mainContentId="@Model.TitleId">@Model.Title</a>
</div>
@for(int i = 0; i<Model.ContentArray.Length; i++)
{
<div class="row main-content-list-text">
    <a asp-page="@Model.ContentNavigate" asp-route-mainContentId="@Model.ContentArray[i,1]">
            @Model.ContentArray[i, 0]
    </a>
</div>
}