@model SideBarPartialViewModel
@if (Model.SideBarOptions != null)
{
    var sideBarOptions = @Model.SideBarOptions.ToList();
    <div class="sidebar-container">
        @if (sideBarOptions != null)
        {
            @foreach (var item in sideBarOptions)
            {
                <div class="row sidebar-option">
                    @switch (Model.NavigateTo)
                    {
                        case "/Index":
                            <a asp-page="/Index" asp-route-mainContentId="@item.Id" class="btn">@item.Title</a>
                            break;
                        case "/Topic":
                            <a asp-page="/Topic/TopicIndex" asp-route-mainContentId="@item.Id" class="btn">@item.Title</a>
                            break;
                    }
                </div>
            }
        }
    </div>
}

