@model MessagesModel
@{
}
<div class="container-scrollable-maincontent">
    @foreach (Models.Message message in Model.MessageThread)
    {
        if (message.SenderId == Model.UserDataId)
        {
            <div class="row justify-content-start">
                <div class="col-8 chat-message chat-message-left">
                    <div class="chat-message-header-left">
                        @Model.UserName
                        <span style="font-size:0.8em;justify-content:flex-end; margin-right:3em;">@message.TimeStamp.ToLocalTime().ToString()</span>
                    </div>
                    <div>
                        @message.Text
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row justify-content-end">
                <div class="col-8 chat-message chat-message-right">
                    <div class="chat-message-header-right">
                        @Model.MessageReceiverName
                        <span style="font-size:0.8em; justify-content:start; margin-left:3em;">@message.TimeStamp.ToLocalTime().ToString()</span>
                    </div>
                    <div>
                        @message.Text
                    </div>
                </div>
            </div>
        }
    }
</div>
    
