@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container main-container d-flex flex-wrap px-md-5 py-0 mt-2" role="main">
    <div class="row justify-content-between mt-0 mb-0 px-0">
        <div class="row d-flex justify-content-center p-0 m-0 display-6">
        Welcome to the extreme weatherboard!
        </div>
        @foreach (var navObject in Model.MainNavObjects)
        {
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-evenly mb-0  mt-0">
                <div class="text-end">
                    <p class="main-nav-object ">
                        @if(Model.SubCategoryState)
                        {
                            <a asp-page="/DiscussionThreads" asp-route-subCategoryId="@navObject.Id">@navObject.Title</a>
                        }
                        else
                        {
                        <a asp-page="/Index" asp-route-categoryId="@navObject.Id">@navObject.Title</a>
                        }
                    </p>
                    @if (navObject.NavContentDTOs.Count > 0)
                    {
                        @foreach (var navContent in navObject.NavContentDTOs)
                        {

                            <p class="main-nav-content">
                                @if (Model.SubCategoryState)
                                {
                                    <a asp-page="/Comments" asp-route-discussionThreadId="@navContent.Id">@navContent.Title</a>
                                }
                                else
                                {
                                    <a asp-page="/DiscussionThreads" asp-route-subCategoryId="@navContent.Id">@navContent.Title</a>
                                }
                            </p>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>




@* <a href="/Admin/AdminLogAdmin/Index">Admin Log</a>
<a href="/Admin/MessageAdmin/Index">Message</a>
<a href="/Admin/DiscussionThreadAdmin/Index">Discussion Thread</a>
<a href="/Admin/CategoryAdmin/Index">Category</a>
<a href="/Admin/CommentAdmin/Index">Comment</a>
<a href="/Admin/SubCategoryAdmin/Index">Sub Category</a>
<a href="/Admin/AdminUserDataAdmin/Index">Admin User Data</a> *@
